:root {
	--color-yellow01: #fefde5;
	--color-yellow02: #fef899;
	--color-yellow03: #fdf34c;
	--color-yellow04: #fdee00;
	--color-yellow05: #cabe00;
	--color-yellow06: #7e7700;
	--color-yellow07: #322f00;
	--color-purple01: #f4e5fa;
	--color-purple02: #deb2f1;
	--color-purple03: #b44ce0;
	--color-purple04: #9400d3;
	--color-purple05: #670093;
	--color-purple06: #3b0054;
	--color-purple07: #1d002a;
	--color-green01: #e5fae5;
	--color-green02: #99eb99;
	--color-green03: #4cdc4c;
	--color-green04: #00cd00;
	--color-green05: #00a400;
	--color-green06: #007b00;
	--color-green07: #003d00;
	--color-blue01: #e5fdfd;
	--color-blue02: #99f8f8;
	--color-blue03: #4cf3f3;
	--color-blue04: #00eeee;
	--color-blue05: #00bebe;
	--color-blue06: #007777;
	--color-blue07: #002f2f;
	--color-dark01: #ebebea;
	--color-dark02: #b0b1ae;
	--color-dark03: #757672;
	--color-dark04: #3b3c36;
	--color-dark05: #2f302b;
	--color-dark06: #232420;
	--color-dark07: #111210;
	--color-dark08: #000000;
}

.wrapper_task3_holidays {
	width: 100%;
	height: 770px;
	background-color: var(--color-blue07);
	margin: 0.8em;
	display: flex;
	flex-direction: column;
	align-items: center;
	padding: 1em;
	box-shadow: 0.4em 0.4em 1em var(--color-blue07);
	border: 0.04em solid var(--color-yellow05);
}

.heading_holidays {
	width: 100%;
	font-size: 1.4em;
	color: var(--color-yellow05);
	margin-bottom: 0.4em;
	padding-bottom: 0.4em;
	text-align: center;
	border-bottom: 0.04em solid var(--color-yellow06);
}

.box_inputs {
	width: 100%;
	margin-bottom: 0.4em;
	display: flex;
	flex-direction: column;
	align-items: center;
}

.inputs {
	width: 50%;
	display: flex;
	flex-direction: column;
	margin-bottom: 0.8em;
}

.label {
	margin-bottom: 0.4em;
	color: var(--color-yellow02);
}
.input {
	padding: 0.4em;
	background: none;
	border: none;
	border-bottom: 0.04em solid var(--color-yellow05);
	outline: none;
	color: var(--color-yellow04);
	font-size: 1.2em;
}

.ratings_and_date_and_amound {
	width: 100%;
	display: flex;
	justify-content: space-around;
	margin: 0.6em 0em;
}

.box_date,
.box_amound,
.box_rating {
	width: 28%;
	display: flex;
	flex-direction: column;
}

.date_input {
	padding: 0.4em;
	font-size: 1.2em;
	background-color: var(--color-blue02);
	border: none;
}

.box_selects {
	width: 100%;
	display: flex;
	justify-content: center;
}

.selects {
	width: 45%;
	display: flex;
	flex-direction: column;
	margin: 0.4em 1em;
}

.select {
	font-size: 1.2em;
	padding: 0.2em;
	background-color: var(--color-blue06);
	border: none;
	color: var(--color-yellow01);
	outline: none;
}

.box_text {
	width: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
	margin-top: 1em;
}

.textarea {
	min-width: 80%;
	max-width: 80%;
	min-height: 60px;
	max-height: 60px;
	background: none;
	outline: none;
	color: var(--color-yellow02);
	padding: 0.8em;
	border: 0.04em solid var(--color-yellow06);
}

.box_error {
	width: 100%;
	height: 50px;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	margin: 0.1em 0em;
}

.error {
	font-size: 1.2em;
	color: var(--color-purple02);
}

.box_btns {
	width: 80%;
	display: flex;
	justify-content: space-between;
	margin-top: 0.4em;
	padding-bottom: 0.8em;
	border-bottom: 0.04em dotted var(--color-yellow06);
}

.btn {
	position: relative;
	width: 40%;
	padding: 0.8em;
	background: none;
	border: 0.04em solid var(--color-blue04);
	color: var(--color-blue01);
	cursor: pointer;
	overflow: hidden;
	transition: all 0.55s ease-in-out;
	z-index: 10;
}

.btn::before {
	position: absolute;
	content: '';
	width: 23%;
	height: 150%;
	border-radius: 50%;
	filter: blur(0.5em);
	background-color: var(--color-blue06);
	transform: translate(-300%, -33%);
	transition: transform 0.3s ease-in-out;
	z-index: -10;
}

.btn:hover::before {
	transform: translate(300%, -33%);
}

.btn::after {
	position: absolute;
	content: '';
	width: 23%;
	height: 150%;
	border-radius: 50%;
	filter: blur(0.5em);
	background-color: var(--color-blue06);
	transform: translate(200%, -33%);
	transition: transform 0.3s ease-in-out;
	z-index: -10;
}

.btn:hover::after {
	transform: translate(-400%, -33%);
}

.btn:hover {
	background-color: var(--color-blue06);
}

.box_results {
	width: 100%;
	padding: 1.4em;
	display: flex;
	flex-direction: column;
}

.info_result {
	font-size: 1.2em;
	margin-bottom: 0.2em;
	padding-bottom: 0.2em;
	color: var(--color-yellow02);
	border-bottom: 0.04em dotted var(--color-yellow06);
}

.info_span {
	font-weight: 100;
}

.info_result_text {
	color: var(--color-yellow02);
}
