/* font-family: "Lobster", sans-serif; */

:root {
	--color-yellow01: #fefde5;
	--color-yellow02: #fef899;
	--color-yellow03: #fdf34c;
	--color-yellow04: #fdee00;
	--color-yellow05: #cabe00;
	--color-yellow06: #7e7700;
	--color-yellow07: #322f00;
	--color-purple01: #f4e5fa;
	--color-purple02: #deb2f1;
	--color-purple03: #b44ce0;
	--color-purple04: #9400d3;
	--color-purple05: #670093;
	--color-purple06: #3b0054;
	--color-purple07: #1d002a;
	--color-green01: #e5fae5;
	--color-green02: #99eb99;
	--color-green03: #4cdc4c;
	--color-green04: #00cd00;
	--color-green05: #00a400;
	--color-green06: #007b00;
	--color-green07: #003d00;
	--color-blue01: #e5fdfd;
	--color-blue02: #99f8f8;
	--color-blue03: #4cf3f3;
	--color-blue04: #00eeee;
	--color-blue05: #00bebe;
	--color-blue06: #007777;
	--color-blue07: #002f2f;
	--color-dark01: #ebebea;
	--color-dark02: #b0b1ae;
	--color-dark03: #757672;
	--color-dark04: #3b3c36;
	--color-dark05: #2f302b;
	--color-dark06: #232420;
	--color-dark07: #111210;
	--color-dark08: #000000;
}

.wrapper_task07 {
	width: 100%;
	min-height: 100vh;
	padding-left: 7.8em;
	display: flex;
	flex-direction: column;
	align-items: center;
	background-color: var(--color-dark04);
}

.box_header {
	position: relative;
	width: 100%;
	height: 220px;
	border-bottom: 0.4em solid var(--color-yellow05);
	box-shadow: 4em 0em 1.2em var(--color-dark08);
}

.heading_header {
	position: absolute;
	font-family: 'Lobster', sans-serif;
	left: 5%;
	top: 5%;
	z-index: 10;

	/** TEXT GRADIENT */
	color: #cabe00;
	background-image: -webkit-linear-gradient(0deg, #cabe00 0%, #fef899 50%, #cabe00 100%);
	background-clip: text;
	-webkit-background-clip: text;
	text-fill-color: transparent;
	-webkit-text-fill-color: transparent;
	font-size: 6em;
	text-shadow: 0.4em 0.4em 0.6em var(--color-dark08);
}

.heading_line {
	position: absolute;
	top: 57%;
	left: 12.4%;
	width: 23.4%;
	height: 10px;
	z-index: 10;
	background-color: var(--color-yellow05);
}

.img_header {
	width: 100%;
	height: 100%;
}

.img_bar {
	width: 100%;
	height: 100%;
	object-fit: cover;
	object-position: 25% 56%;
}

.shadow_header {
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0;
	right: 0;
	background-color: rgba(17, 18, 16, 0.651);
}
