:root {
	--color-yellow01: #fef8e5;
	--color-yellow02: #fee599;
	--color-yellow03: #fdd14d;
	--color-yellow04: #fdbe02;
	--color-yellow05: #ca9801;
	--color-yellow06: #7e5f01;
	--color-yellow07: #322600;
	--color-purple01: #f6e6ee;
	--color-purple02: #db9dbe;
	--color-purple03: #c0548e;
	--color-purple04: #a50b5e;
	--color-purple05: #84084b;
	--color-purple06: #630638;
	--color-purple07: #31031c;
	--color-green01: #e5fae5;
	--color-green02: #99eb99;
	--color-green03: #4cdc4c;
	--color-green04: #00cd00;
	--color-green05: #00a400;
	--color-green06: #007b00;
	--color-green07: #003d00;
	--color-blue01: #e5fdfd;
	--color-blue02: #99f8f8;
	--color-blue03: #4cf3f3;
	--color-blue04: #00eeee;
	--color-blue05: #00bebe;
	--color-blue06: #007777;
	--color-blue07: #002f2f;
	--color-dark01: #ebebea;
	--color-dark02: #b0b1ae;
	--color-dark03: #757672;
	--color-dark04: #3b3c36;
	--color-dark05: #2f302b;
	--color-dark06: #232420;
	--color-dark07: #111210;
	--color-dark08: #000000;
}

.wrapper_home {
	width: 100%;
	min-height: 100vh;
	padding-left: 7.8em;
	display: flex;
	flex-direction: column;
	align-items: center;
	background-color: var(--color-dark06);
}

.boxHome_heading {
	width: 100%;
	padding: 1em;
	margin-bottom: 2em;
	display: flex;
	flex-direction: column;
	align-items: center;
	background-color: var(--color-dark05);
	border-bottom: 0.04em solid var(--color-blue07);
}

.home_heading {
	font-size: 2em;
	color: #00eeee;
	margin-bottom: 0.2em;
}

.home_theme {
	color: var(--color-blue01);
}

.boxHome_action {
	width: 80%;
	height: 600px;
	padding: 4em;
	background-color: var(--color-dark05);
	border: 0.04em solid var(--color-dark04);
	display: flex;
	flex-direction: column;
	align-items: center;
}

.home_count {
	font-size: 10em;
	color: var(--color-blue03);
}

.homeView_text {
	padding: 2em;
	background-color: var(--color-dark04);
}

.home_text {
	color: var(--color-blue02);
	font-size: 1.2em;
	/* padding: 2em; */
	text-align: center;
}
