:root {
	--color-yellow01: #fefde5;
	--color-yellow02: #fef899;
	--color-yellow03: #fdf34c;
	--color-yellow04: #fdee00;
	--color-yellow05: #cabe00;
	--color-yellow06: #7e7700;
	--color-yellow07: #322f00;
	--color-purple01: #f4e5fa;
	--color-purple02: #deb2f1;
	--color-purple03: #b44ce0;
	--color-purple04: #9400d3;
	--color-purple05: #670093;
	--color-purple06: #3b0054;
	--color-purple07: #1d002a;
	--color-green01: #e5fae5;
	--color-green02: #99eb99;
	--color-green03: #4cdc4c;
	--color-green04: #00cd00;
	--color-green05: #00a400;
	--color-green06: #007b00;
	--color-green07: #003d00;
	--color-blue01: #e5fdfd;
	--color-blue02: #99f8f8;
	--color-blue03: #4cf3f3;
	--color-blue04: #00eeee;
	--color-blue05: #00bebe;
	--color-blue06: #007777;
	--color-blue07: #002f2f;
	--color-dark01: #ebebea;
	--color-dark02: #b0b1ae;
	--color-dark03: #757672;
	--color-dark04: #3b3c36;
	--color-dark05: #2f302b;
	--color-dark06: #232420;
	--color-dark07: #111210;
	--color-dark08: #000000;
}

.wrapper_task01 {
	width: 100%;
	min-height: 100vh;
	padding-left: 7.8em;
	display: flex;
	flex-direction: column;
	align-items: center;
	background-color: var(--color-purple05);
}

.heading_page {
	width: 100%;
	display: flex;
	justify-content: center;
	padding: 0.6em;
	border-bottom: 0.04em solid var(--color-yellow05);
	color: var(--color-yellow04);
	box-shadow: 0.4em 0em 1em var(--color-yellow05);
}

.main_task01 {
	width: 100%;
	padding: 0em 4em 0em 7.8em;
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
	margin-top: 2em;
}

/* ======== FIRST TASK01 */

.box_task01_a {
	width: 45%;
	display: flex;
	justify-content: center;
}

.box_task01_a1 {
	width: 100%;
	height: 340px;
	background-color: var(--color-purple06);
	display: flex;
	flex-direction: column;
	align-items: center;
	padding: 2em;
	border: 0.04em solid var(--color-yellow04);
	box-shadow: 0.08em 0.08em 1em var(--color-yellow04);
}

.heading_task01_a1 {
	margin-bottom: 1em;
	color: var(--color-yellow03);
}

.heading_task01_a1:nth-child(2) {
	font-size: 1em;
	color: var(--color-yellow05);
}

.inputs_task01_a1 {
	width: 100%;
	display: flex;
	justify-content: center;
	margin-bottom: 3em;
}

.input_task01_a1 {
	width: 70%;
	background-color: var(--color-purple05);
	border: none;
	color: var(--color-yellow01);
	padding: 0.6em;
}

.btn_task01_a1 {
	width: 30%;
	background-color: var(--color-purple04);
	border: none;
	cursor: pointer;
	transition: all 0.2s ease-in-out;
}

.btn_task01_a1_sub {
	width: 30%;
	background-color: var(--color-yellow05);
	color: var(--color-purple06);
	border: none;
	cursor: pointer;
	transition: all 0.2s ease-in-out;
}

.btn_task01_a1:hover {
	background-color: var(--color-purple07);
	color: var(--color-yellow03);
}

.btn_task01_a1_sub:hover {
	background-color: var(--color-yellow06);
}

.result_task01_a1 {
	font-size: 1.4em;
	color: var(--color-yellow06);
}

.result_task01_a1_span {
	color: var(--color-yellow03);
}

.task01_length {
	color: var(--color-blue03);
}

.task01_success {
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	color: var(--color-purple02);
	font-size: 1.2em;
	margin-top: 1em;
	padding: 0.4em;
	background-color: var(--color-purple07);
}

/* ======== SECOND TASK01 */

.wrapper_second_task01 {
	width: 45%;
	height: 340px;
	display: flex;
	flex-direction: column;
	align-items: center;
	padding: 2em;
	height: 340px;
	background-color: var(--color-purple06);
	border: 0.04em solid var(--color-yellow04);
	box-shadow: 0.08em 0.08em 1em var(--color-yellow04);
}

.box_info_limit {
	margin: 0.6em 0em;
	height: 70px;
}

.infoLimit {
	font-size: 1.4em;
	color: var(--color-purple02);
}

.heading_second_task01 {
	color: var(--color-yellow04);
	margin-bottom: 0.4em;
}

.btns_second_task01 {
	width: 100%;
	display: flex;
	justify-content: center;
}

.btn_second_task01_sub,
.btn_second_task01_add {
	width: 10%;
	padding: 0.4em;
	font-size: 1.4em;
	background-color: var(--color-yellow02);
	border: 0.04em solid var(--color-purple07);
	cursor: pointer;
	transition: all 0.2s ease-in-out;
}

.btn_second_task01_sub:hover,
.btn_second_task01_add:hover {
	background-color: var(--color-yellow04);
}

.btn_second_task01_reset {
	width: 20%;
	padding: 0.4em;
	font-size: 1.4em;
	background-color: var(--color-purple02);
	border: 0.04em solid var(--color-purple07);
	cursor: pointer;
	transition: all 0.2s ease-in-out;
}

.btn_second_task01_reset:hover {
	background-color: var(--color-purple04);
	color: var(--color-purple02);
}

.box_results_task01 {
	margin-top: 0.2em;
}

.heading_result_click {
	font-size: 1.8em;
	color: var(--color-yellow05);
	padding: 0.4em 0em;
}

.heading_result {
	font-size: 1.4em;
	margin-bottom: 0.4em;
	color: var(--color-yellow03);
}

.box_success {
	margin: 0.4em 0em;
	height: 70%;
}

.success_result_task01 {
	font-size: 1.6em;
	color: var(--color-blue03);
}

/* ======== CHECKBOX TASK01 */

.wrapper_checkbox {
	width: 45%;
	height: 340px;
	display: flex;
	flex-direction: column;
	align-items: center;
	padding: 2em;
	height: 340px;
	margin-top: 2em;
	background-color: var(--color-purple06);
	border: 0.04em solid var(--color-yellow04);
	box-shadow: 0.08em 0.08em 1em var(--color-yellow04);
}

.heading_check {
	font-size: 1.8em;
	color: var(--color-yellow04);
}

.box_check {
	width: 100%;
	display: flex;
	justify-content: center;
	padding: 2em;
}

.label_input,
.label_checks {
	display: flex;
	flex-direction: column;
	margin: 0em 1em;
}

.label_input {
	width: 50%;
}

.label_check {
	margin-bottom: 0.4em;
	font-size: 1.2em;
	font-weight: 100;
	color: var(--color-yellow02);
}

.label_checks {
	align-items: center;
}

.input_check {
	background-color: var(--color-yellow02);
	border: none;
	padding: 0.4em 0.2em;
}

.input_check_alone {
	width: 26px;
	height: 26px;
}

.btns_check {
	align-self: flex-end;
	margin-left: 2em;
}

.btn_check {
	padding: 0.5em 2em;
	color: var(--color-purple02);
	background-color: var(--color-purple04);
	border: 0.04em solid var(--color-purple06);
	cursor: pointer;
	transition: all 0.3s ease-in-out;
}

.btn_check:hover {
	background-color: var(--color-purple07);
}
