body {
	margin: 0;
	font-family: 'Barlow Condensed', sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

code {
	font-family: 'Barlow Condensed', sans-serif;
}

.active {
	color: #99f8f8;
	border-bottom: 0.04em solid #99f8f8;
}
